body{
    margin: 0px;
}
.content{
    margin: auto;
    width: 50%;
    text-align: center;
}

.topnav{
    background-color: darkslategray;
    color: white;
}
.Header{
    padding: 1px;
    padding-left: 5px;
}
.subheading{
    margin: auto;
    width: 50%;
    text-align: center;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    padding: 8px 16px;
}

video {
    width: 100%;
    margin: auto;
}
.media{
    margin-top: 5px;
    max-width: 720px;
}