button {
    padding: 8px 16px;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

video {
    width: 100%;
}

.option {
    margin-bottom: 8px;
}

#media {
    max-width: 1280px;
}

.topnav{
    background-color: darkslategray;
    color: white;
}

body{
    margin: 0px;
}

.Header{
    padding: 1px;
    padding-left: 5px;
}

.content{
    margin: auto;
    width: 50%;
    text-align: center;
}

.subheading{
    margin: auto;
    width: 50%;
    text-align: center;
}

.slider{
    height:8px;
}

